<br>
<br>
<br>
<div class="row">
    <div class="col-12 col-md-9">
        <div class="card">
            <div class="card-header">
                DateRange
            </div>

            <div class="card-body card-daterange" style="padding: 1.25rem;">


                <a class="badge badge-success" href="">Today</a>
                <a class="badge badge-success" href="">Last 7 Days</a>
                <a class="badge badge-success" href="">This Month</a>
                <a class="badge badge-success" href="">Last Month</a>

                <form #f="ngForm" (ngSubmit)="onSubmitNgModel()" novalidate>
                    <div class="form-group">

                        <my-date-range-picker name="ngModelDateRange" [options]="myDateRangePickerOptions" [(ngModel)]="model" required></my-date-range-picker>
                    </div>

                    <div>
                        <button class="btn btn-primary" type="submit">Get Reports</button>
                        <div class="alert alert-danger" role="alert">
                            <span class="error hidden" *ngIf="!f.valid">Date range is required!</span>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="card">
            <div class="card-header">
                Gift Cards Summary
            </div>

            <div class="card-body card-daterange" style="padding: 1.25rem;">
                <span>Total: $135.00</span><br>
                <span>Paid: $120.00</span><br>
                <span>Complementary: $15.00</span><br>
            </div>
        </div>
    </div>


    <div class="row col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Barcode</th>
                        <th>Value</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                    </tr>
                    <tr>
                        <td>1,002</td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>Integer</td>
                        <td>nec</td>
                        <td>odio</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>