<br>
<br>
<br>



<div class="col-12">



    <form class="form-inline" #f="ngForm" (ngSubmit)="onSubmitNgModel()" novalidate>
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Search Gift Card Number">
        <my-date-range-picker  style="padding-top: 5px;" class="mb-2 mr-sm-2 pull-right" name="ngModelDateRange" [options]="myDateRangePickerOptions" [(ngModel)]="model"
            required></my-date-range-picker>

        <!-- <button class="button" type="submit">Submit</button> -->
        <!-- <p class="error" *ngIf="!f.valid">Date range is required!</p> -->
     
                <button type="submit" class="btn btn-primary mb-2 pull-right">Search</button>
   
       
    </form>

</div>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            Gift Cards Summary
        </div>

        <div class="card-body card-daterange" style="padding: 1.25rem;">
                <div class="row">
            <div class="col-6">
                    <strong>Total Value Sold:</strong> $135.00
                    <br>
                    <strong>Outstanding Balance:</strong> $120.00
            </div>
            <div class="col-6">
                    <strong>Total Value Redeemed:</strong> $15.00
                    <br>
                   <strong>Gift Cards in Circulation:</strong> 10
            </div>
        </div>
            
        </div>
    </div>
</div>

<br>

<div class="row col-12">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Barcode</th>
                    <th>Total Sold</th>
                    <th>Total Redeemed</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1,001</td>
                    <td>Lorem</td>
                    <td>ipsum</td>
                    <td>dolor</td>
                </tr>
                <tr>
                    <td>1,002</td>
                    <td>amet</td>
                    <td>consectetur</td>
                    <td>adipiscing</td>
                </tr>
                <tr>
                    <td>1,003</td>
                    <td>Integer</td>
                    <td>nec</td>
                    <td>odio</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>