<br>
<br>
<br>



<div class="col-12">



    <form class="form-inline" #f="ngForm" (ngSubmit)="onSubmitNgModel()" novalidate>
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Search Gift Card Number">
        <my-date-range-picker style="padding-top: 5px;" class="mb-2 mr-sm-2 pull-right" name="ngModelDateRange" [options]="myDateRangePickerOptions"
            [(ngModel)]="dateRange" required></my-date-range-picker>

        <!-- <button class="button" type="submit">Submit</button> -->
        <!-- <p class="error" *ngIf="!f.valid">Date range is required!</p> -->

        <button  class="btn btn-primary mb-2 pull-right" (click)="getDate()">Get Report</button>


    </form>

</div>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            Gift Cards Summary
        </div>

        <div class="card-body card-daterange" style="padding: 1.25rem;">
           
            <div class="row">
                <div class="col-6">
                    <strong>Total Value Sold:</strong> ${{valueSold| number : '1.2-2'}}
                    <br>
                    <strong>Outstanding Balance:</strong> ${{valueSold+valueRedeemed| number : '1.2-2'}}
                </div>
                <div class="col-6">
                    <strong>Total Value Redeemed:</strong> ${{valueRedeemed| number : '1.2-2'}}
                    <br>
                    <strong>Total Transactions:</strong> {{trans_count}}
                </div>
            </div>

        </div>
    </div>
</div>

<br>

<div class="row col-12">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>

                    <!-- <th>Barcode</th>
                    <th>Total Sold</th>
                    <th>Total Redeemed</th>
                    <th>Balance</th> -->
                    <th class="text-right">Transaction</th>
                    <th class="text-right">Date</th>
                    <th class="text-right">Barcode</th>
                    <th class="text-right">Approved Amount</th>
                    <th class="text-right">Location</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curentGiftCard of GiftCardData">
                    <td class="text-right">{{curentGiftCard.trans_id}}</td>
                    <td class="text-right">{{curentGiftCard.date}}</td>
                    <td class="text-right"><a routerLink="detail/{{curentGiftCard.barcode}}">{{curentGiftCard.barcode}}</a></td>
                    <td class="text-right">
                        <span class= "badge"
                            [class.badge-success]="curentGiftCard.approved_quantity >= 0"
                            [class.badge-danger]="curentGiftCard.approved_quantity <= 0"
                         >
                            {{curentGiftCard.approved_quantity | number : '1.2-2'}}
                        </span></td>
                    <td class="text-right">{{curentGiftCard.location}}</td>
                </tr>
                

            </tbody>
        </table>
    </div>
</div>